body {
  margin: 0;
  padding: 1rem;
  height: 100vh;
  background: linear-gradient(132deg, #9C2E2B 0%, #917393 100%);
  background-size: 200% 200%;
  -webkit-animation: gradientWave 10s ease infinite;
  -moz-animation: gradientWave 10s ease infinite;
  animation: gradientWave 10s ease infinite;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

/* Frames for the background gradient wave effect */
@-webkit-keyframes gradientWave {
  0%    {background-position: 100% 20%} 
  12.5% {background-position: 87.5% 70%}
  25%   {background-position: 75% 20%}
  37.5% {background-position: 62.5% 70%}
  50%   {background-position: 50% 20%}
  62.5%   {background-position: 62.5% 70%}
  75%   {background-position: 75% 20%}
  87.5%   {background-position: 87.5% 70%}
  100%  {background-position: 100% 20%}
}
@-moz-keyframes gradientWave {
  0%    {background-position: 100% 20%} 
  12.5% {background-position: 87.5% 70%}
  25%   {background-position: 75% 20%}
  37.5% {background-position: 62.5% 70%}
  50%   {background-position: 50% 20%}
  62.5%   {background-position: 62.5% 70%}
  75%   {background-position: 75% 20%}
  87.5%   {background-position: 87.5% 70%}
  100%  {background-position: 100% 20%}
}
@keyframes gradientWave {
  0%    {background-position: 100% 20%} 
  12.5% {background-position: 87.5% 70%}
  25%   {background-position: 75% 20%}
  37.5% {background-position: 62.5% 70%}
  50%   {background-position: 50% 20%}
  62.5%   {background-position: 62.5% 70%}
  75%   {background-position: 75% 20%}
  87.5%   {background-position: 87.5% 70%}
  100%  {background-position: 100% 20%}
}

/* COPY */

.splash__copy {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 750px;
  padding-bottom: 2rem;
}

.splash__copy p,a {
  color: #2A2C49;
  font-family: PT Mono, monospace;
  line-height: 2rem;
  margin-top: 0;
}

.splash__intro {
  margin-bottom: 1rem;
}

.splash__intro h1 {
  color: #5A7AB5;
  background: -webkit-linear-gradient(#5A7AB5, #8095C2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: BebasNeue, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.splash__logo {
  width: 80px;
}

.search input {
  font-size: 16px;
  background: #2A2C49;
  border: 1px solid #2A2C49;
  box-sizing: border-box;
  color: #8095C2;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  border-radius: 0;
}

.search input::placeholder {
  color: #8095C2;
  font-size: 1.2em;
  font-style: italic;
}

/* Remove the input-field outline highlight when selected */
.search input[type=text]:focus{
  outline: none;
}

.search button {
  font-size: 16px;
  background: #2A2C49;
  border: 1px solid #2A2C49;
  color: #8095C2;
  padding: 0.52rem;
  position: absolute;
  cursor: pointer;
}

.response {
  color: #2A2C49;
  font-family: PT Mono, monospace;
  display: block;
  left: 1rem;
  bottom: 1rem;
  margin-top: 1rem;
  line-height: 2rem;
}

a.response {
  display: inline;
  margin-top: 0;
}

span.response.emphasise {
  display: inline;
  font-size: 2rem;
  vertical-align: middle;
  line-height: 1rem;
  color:#8095C2;
}

@media(min-width: 500px) {
  .splash__copy {
    padding-top: calc(90px + 2rem); /* the logo's height + 2rem */
  }
  .splash__intro h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .splash__logo {
    width: 180px;
    position: absolute;
  }
}
